<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="appcitas.Properties.Settings.Setting" connectionString="Data Source=132.148.18.176,1433\SQL_BLS;Initial Catalog=SGRC;Persist Security Info=False;User ID=sgrc_admin;Password=#_4dm!n._.ZO17_#"
      providerName="System.Data.SqlClient" />
    <add name="security" connectionString="Data Source=132.148.18.176,1433\SQL_BLS;Initial Catalog=SGRC;Persist Security Info=False;User ID=sgrc_admin;Password=#_4dm!n._.ZO17_#"
      providerName="System.Data.SqlClient" />
    <add name="AppcitasContext" connectionString="Data Source=132.148.18.176,1433\SQL_BLS;Initial Catalog=SGRC;Persist Security Info=False;User ID=sgrc_admin;Password=#_4dm!n._.ZO17_#"
      providerName="System.Data.SqlClient" />
    <!--<add name="appcitas.Properties.Settings.Setting" connectionString="Data Source=PANLOCVDESDB02\MSSQLSERVER_1;Initial Catalog=DBCITASAPL6;Persist Security Info=False;User ID=usuario.generico;Password=usuario.generico"
      providerName="System.Data.SqlClient" />
    <add name="security" connectionString="Data Source=PANLOCVDESDB02\MSSQLSERVER_1;Initial Catalog=SeguridadSAB;Persist Security Info=False;User ID=usuario.generico;Password=usuario.generico"
      providerName="System.Data.SqlClient" />
    <add name="AppcitasContext" connectionString="Data Source=PANLOCVDESDB02\MSSQLSERVER_1;Initial Catalog=DBCITASAPL6;User ID=usuario.generico;Password=usuario.generico"
      providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp from="sgrc.bac.pa@gmail.com">
        <network host="smtp.gmail.com" port="587" userName="sgrc.bac.pa@gmail.com" password="#MyPassSGRC.2017" enableSsl="true" />
      </smtp>
    </mailSettings>
  </system.net>
  <appSettings>
    <add key="BACAPIBaseAddress" value="http://localhost/BACWS/api/bacmtr/" />
    <add key="GetValuesByCif" value="http://localhost/BACWS/api/bacmtr/GetValuesByCif?val=" />
    <add key="GetInfoClientByCif" value="http://localhost/BACWS/api/bacmtr/GetInfoClientByCif?val=" />
    <add key="GetGeneralByTC" value="http://localhost/BACWS/api/bacmtr/GetGeneralByTC?val=" />
    <add key="GetScore" value="http://localhost/BACScoringWS/api/ScoringService/GetScore?" />
    <add key="GetHistorial" value="http://localhost/BACScoringWS/api/ScoringService/GetHistorial?" />
    <!--<add key="BACAPIBaseAddress" value="http://panlocvdweb02/WS_Empresa_Fidelizacion/api/SabRetain/" />
    <add key="GetValuesByCif" value="http://panlocvdweb02/WS_Empresa_Fidelizacion/api/SabRetain/GetValuesByCif?val=" />
    <add key="GetInfoClientByCif" value="http://panlocvdweb02/WS_Empresa_Fidelizacion/api/SabRetain/GetInfoClientByCif?val=" />
    <add key="GetGeneralByTC" value="http://panlocvdweb02/WS_Empresa_Fidelizacion/api/SabRetain/GetGeneralByTC?val=" />-->
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <directoryBrowse enabled="true" />
    <staticContent>
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="font/x-woff" />
    </staticContent>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <!--  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WSAPCbotSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://panlocvdweb02/WSAPC/WSAPCbot.asmx"
        binding="basicHttpBinding" bindingConfiguration="WSAPCbotSoap"
        contract="WSAPCbot.WSAPCbotSoap" name="WSAPCbotSoap" />
    </client>
  </system.serviceModel>-->
</configuration>